/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body transition */
body {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

/* Slide-in effect for specific sections */
section {
    transform: translateY(50px); /* Move the element down by 50px initially */
    opacity: 0;
    animation: slideIn 2s ease-out forwards;
    animation-delay: 0.5s; /* Delays the animation to create a staggered effect */
}

/* Keyframes for fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Keyframes for slide-in */
@keyframes slideIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation */
header {
    color: black;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow:
    1px 1px 0px #02AFEF,
    -1px 1px 0px #02AFEF,
    1px -1px 0px #02AFEF,
    -1px -1px 0px#02AFEF;
}

nav ul li a:hover{
    text-shadow:
    1px 1px 0px white,
    -1px 1px 0px white,
    1px -1px 0px white,
    -1px -1px 0px white;
    color: #02AFEF;
    transition: 0.2s;
}

.logoslika{
    width: 20%;
    transition: transform 0.3s ease;
}

.logoslika:hover{
    transform: scale(1.1);
}

.hero {
    background: url('telo.jpg') no-repeat center center/cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    text-shadow:
    1px 1px 0px #02AFEF,
    -1px 1px 0px #02AFEF,
    1px -1px 0px #02AFEF,
    -1px -1px 0px#02AFEF;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 15px 30px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-shadow: none;
    text-decoration: none;
    background: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
    transition: transform 0.3s;
}

.hero .btn:hover {
    background: linear-gradient(135deg, #02AFEF, #018CD0);
    transform: scale(1.05);
}

.services {
    text-align: center;
    padding: 20px;
}
  
.scroll-container {
    height: 100vh; /* Full height of viewport */
    scroll-snap-type: y mandatory; /* Vertical snap scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}
  
.service-cards::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome/Safari */
}
  
.service-cards {
    display: flex;
    flex-direction: column; /* Stack the cards vertically */
    align-items: center;    /* Center the cards horizontally */
    justify-content: flex-start; /* Align items at the start of the container */
    overflow-y: scroll; /* Enable vertical scrolling for the cards */
    height: 70vh; /* Make the container take full height */
}

.service-card {
    background-size: cover; /* Make the image cover the entire card */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    width: 35%; /* Set width to 35% of the container */
    margin: 10px auto; /* Center the card */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Optional: add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
    transition: transform 0.3s; /* Optional: add a transition effect */
}

/* Optional: add hover effect */
.service-card:hover {
    transform: scale(1.05); /* Scale up the card slightly on hover */
}


/* For responsiveness */
@media (max-width: 768px) {
    .service-card {
        width: 80%; /* Make the cards take more space on smaller screens */
    }
}
  
.service-card:nth-child(odd) {
    background: #02AFEF;
}
  
.service-card h3 {
    margin-bottom: 10px;
    font-size: 24px;
}
  
.service-card p {
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
  
.service-card p strong {
    font-weight: bold;
}

.service-card.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .logoslika {
        width: 60%;
    }


    nav ul {
        flex-direction: column;
        padding: 0;
    }
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a {
        font-size: 1rem;
    }

    /* Hero section */
    .hero {
        height: 50vh;
        text-align: center;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero .btn {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .service-card-strategy, 
    .service-card-marketing, 
    .service-card-monetization, 
    .service-card-analytics, 
    .service-card-support {
        width: 100%;
        margin-bottom: 20px;
    }


    .about-container {
        padding: 10px;
        text-align: center;
    }
    .about-container h1 {
        font-size: 1.8rem;
    }
    .about-container p {
        font-size: 1rem;
    }

    
    .faq-section h1 {
        font-size: 1.5rem;
    }
    .faq-item button {
        font-size: 1rem;
    }

    
    .contact a img {
        width: 15%;
        margin: 10px 2%;
    }

    
    footer p {
        font-size: 0.8rem;
    }
}


.about-container {
    background: rgb(2,175,239);
    background: linear-gradient(180deg, rgba(2,175,239,1) 0%, rgba(1,140,208,1) 100%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.about-container h1{
    text-shadow: none;
}


.section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}


.about {
    flex: 1;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    color: black;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

button:hover {
    background: linear-gradient(135deg,#02AFEF, #018CD0) ;
    transform: scale(1.05);
    color: white;
}

.parallax {
    background-image: url('guza.jpg');
    height: 50vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.why{
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.why h1{
    font-size: xx-large;
}

.faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #ddd;
    transition: 0.5s;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
    padding-left: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 5px;
}

.faq-answer p {
    margin: 0;
    padding: 10px;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}


.contact {
    padding: 40px 20px;
    text-align: center;
    border: #018CD0;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input,
.contact textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 15px 30px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    color: white;
    background: linear-gradient(135deg, #02AFEF, #018CD0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.contact img {
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.contact img:hover {
    transform: scale(1.1); /* Zooms the image to 110% */
}

/* Footer */
footer {
    background: rgb(2,175,239);
    background: linear-gradient(180deg, rgba(2,175,239,1) 0%, rgba(1,140,208,1) 100%);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
